<% provide(:title, "Profile for #{@user.name}") %>
<div class="row">
  <div class="col-md-8">
    <h1>
     <%= @user.name %> is attending <%= @user.attended_events.count %> events
    </h1>
    <ol class="microposts">
      <%= render @user.attended_events %>
    </ol>
  </div>
</div>
