<footer class="footer">
  <small>
    The <a href="http://www.theodinproject.com/ruby-on-rails/associations?ref=lc-pb" target="_blank">Private Event Project</a>
    by <a href="https://github.com/colbycheeze", target="_blank">ColbyCheeZe</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Source",   "https://github.com/colbycheeze/private-event", target: '_blank' %></li>
    </ul>
  </nav>
</footer>